@import "_includes/reset.scss";
@import "_includes/variables.scss";
@font-face {
    font-family: gdisplay;
    src: url("../assets/font/gdisplay.otf") format('opentype');
}

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
}

#myVideo,
video {
    display: block;
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    padding: 0;
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    filter: blur(2px);
}

a {
    color: blue;
    font-family: gdisplay, sans-serif;
    font-size: 5em;
}

header {
    margin: 0;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

ol {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    padding: 0;
}

ol > li {
    margin: 0;
    padding: 0;
}